.button {background-color: rgba(204, 49, 49, 0.21); padding: 16px; font-size: 16px; border: none;}

.navbar {position: relative; display: inline-block;}

.dropdown {display: none; position: absolute; min-width: 100px; box-shadow: 0px 8px 16px 0px;}

.dropdown a {padding: 12px 16px; display: block; color: black; text-decoration:none;background-color: aquamarine;}


.navbar:hover .dropdown {display: block;}